body {
    background: url(../images/grey_wash_wall.png); /* Background pattern from Toptal Subtle Patterns */
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

html{
    height: 100%;
}

.name{
    font-family: 'Fredoka One', cursive;
    font-size: 28px;
    padding: 20px;
}

.nav-link{
    font-family: 'Fredoka One', cursive;
}

.fontStyle{
    font-family: 'Fredoka One', cursive;
    color: rgb(223, 223, 223);
}

#font1, #font2, #font3, #font4, #font5, #font6{
    color: rgb(223, 223, 223);
}

.navbar-light{
    background-color: rgb(30, 57, 90);
    border-bottom: 2px solid black;
}

.navbar{
    margin-bottom: 40px;
}

.container{
    background-color: rgb(30, 57, 90);
    padding: 25px;
    border: 2px solid black;
    margin-bottom: 40px;
}

p{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    color: black;
    font-size: 24px;
}

.card-body{
    background-color: rgb(185, 185, 185);
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.card{
    border: 2px solid black;
    border-radius: 0;
}

.card-img-top{
    height: 200px;
    border-radius: 0;
}

a:hover{
    /* text-decoration: none; */
    color: black;
}

.footer{
    height: 40px;
    background-color: rgb(30, 57, 90);
    text-align: center;
    color: rgb(223, 223, 223);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    padding: 10px;
    margin-top: auto;
    border-top: 2px solid black;
}

@media screen and (max-width: 768px){

.row{
    justify-content: center;
}

a{
    display: flex;
    justify-content: center;
}
}